

body { width: 100%; min-width: 776px; margin: 0 auto;}

h1 { font-size: 50px; font-family:Georgia}

h3 { font-style: italic }

div {margin: 0 auto; text-align: center;}

ul {margin: 0 auto; text-align: center;}

li {display: inline-block; padding: 10px 30px; font-size:30px; font-family: impact;} 

ul li a {text-decoration: none;}

span {display:inline-block}

#menu { width: 70%; min-width: 776px; border-style:solid; border-width: 3.5px 0px; }

#about img {float: right; height:220px;}

#about {width: 70%; min-width: 500px; min-height:300px; margin: 1% auto;}

#bio { width:70%; word-wrap: break-word; word-indent: 5px; font-family: Lucida Sans Unicode; text-align: left}

#breakline {width:70%; border-style: solid; border-width: 3px 0 0 0; border-color:	rgb(128,128,128);}

#contact img {display: inline-block; width:128px;  padding: 20px; margin-top: 10px; }

#footer {margin: 0 auto; min-width: 776px; width: 70%; text-align:center; border-style:solid; border-width: 4px 0 0 0; padding-top: 5px; border-color:	rgb(128,128,128);}

#quote {margin: 0 auto; width:50%; min-width:500px; font-style: italic; ; word-wrap: break-word; font-size: 23px;}

#v1 {text-decoration: none; color: black;}

#contactform {text-decoration:none;}


